# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

data_pretrained_ELMO.zip
155.zip
3.tar.gz
48.zip
gensim/monolingual.hi
hindi-annotated-conll17.tar
hindi-annotated-conll17/*
# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
